DEBUG="True"
DEPLOY="False"
SKIP_SEEDERS="False"

DATABASE_URL="postgresql://rudiapi:rudiapi@127.0.0.1:5432/rudiapi"
REDIS_URL="redis://127.0.0.1:6379"

JWT_SECRET_KEY="SECRET!!!"
SECRET_KEY="SECRET!!!"

REDIS_SECRET_KEY="rudiapi"

GRANIAN_HOST="127.0.0.1"
GRANIAN_INTERFACE="asginl"
GRANIAN_LOG_ACCESS_ENABLED="1"
GRANIAN_PORT="8080"
GRANIAN_RELOAD_PATHS="src"
GRANIAN_WORKERS="1"
GRANIAN_WORKING_DIR="src"
GRANIAN_WS="0"

DJANGO_SUPERUSER_PASSWORD="superuser-data"
DJANGO_SUPERUSER_USERNAME="superuser-data"
